/* Target the <h1> element */
h1 {
  color: gold; /* Text color for my h1 */
  font-size: larger; /* Font size for heading 1 */
  text-align: center; /* Text alignment */
  margin-top: 40px; /* Top margin */
}

/* Targeting my <h2> element */
h2 {
  color: gold;
  font-size: large;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Target the body element */
body {
  background-color: grey; /* Background color */
}

/* Target the <p> element */
p {
  color: gold; /* Changed this color */
  font-size: medium;
  text-align: center;
}

/* target the <title> element */
title {
  font-weight: bold; /* Font weight */
}

/* Targeting the <html> element */
html {
  font-family: Arial, sans-serif; /* Font family */
}

/*  Media queries for different devices */
/* Small devices (phones) */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 20px;
    margin-top: 20px;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 992px) {
  h1 {
    font-size: 28px;
    margin-top: 60px;
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 36px;
    margin-top: 80px;
  }
}

/* CSS Grid Styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.Current-Projects,
.Hobbies-And-Interests,
.Future-Aspirations,
.Contact-Me {
  padding: 20px;
  background-color: gray; /* Updated to grey */
  border: 1px solid gray;
}


.Contact-Me {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Contact-Me ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Contact-Me ul li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.Contact-Me ul li:last-child {
  margin-right: 0;
}

.Contact-Me ul li a {
  color: #000;
  text-decoration: none;
}

.Contact-Me ul li a:hover {
  text-decoration: underline;
}
