/* Target the <h1> element */
h1 {
  color: gold;
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
}

/* Target the <h2> element */
h2 {
  color: gold;
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Target the body element */
body {
  background-color: gray;
}

/* Target the <p> element */
p {
  color: gold;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

/* Target the <title> element */
title {
  font-weight: bold;
}

/* Targeting the <html> element */
html {
  font-family: Arial, sans-serif;
}

/* Ideal media queries for different devices */

/* Small devices (phones) */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 20px;
    margin-top: 20px;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 992px) {
  h1 {
    font-size: 28px;
    margin-top: 60px;
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 36px;
    margin-top: 80px;
  }
}

/* CSS Grid Styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.Current-Projects,
.Hobbies-And-Interests,
.Future-Aspirations,
.Contact-Me {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.Contact-Me ul {
  list-style-type: none;
  padding: 0;
}

.Contact-Me ul li {
  margin-bottom: 10px;
}

.Contact-Me ul li a {
  color: #000;
  text-decoration: none;
}

.Contact-Me ul li a:hover {
  text-decoration: underline;
}


/* target all h3 elements */
h3{
  color: gold;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}